name: Lint project

on:
  push:
    branches-ignore:
      - main

jobs:
  lint:
    name: Lint Project
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.14"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pre-commit install

      - name: Run pre-commit
        run: pre-commit run --all-files --hook-stage manual
