name: Test project

on:
  push:
    branches-ignore:
      - main

env:
  DATABASE_NAME: "dentallab"
  DATABASE_USER: "postgres"
  DATABASE_PASSWORD: "postgres"
  DATABASE_HOST: "postgres"
  DATABASE_PORT: "5432"
  SECRET_KEY: "ksjf;lasdfj;"
  EMAIL_HOST_USER: "mock@gmail.com"
  EMAIL_HOST_PASSWORD: "111"
  CLIENT_URL: "https://mock.com"

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15-alpine
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: dentallab
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.14"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --no-cache-dir uv
          uv pip compile pyproject.toml -o requirements.txt
          pip install --no-cache-dir -r requirements.txt

      - name: Run migrations
        run: |
          python manage.py makemigrations core accounts orders works operations
          python manage.py migrate

      - name: Run tests
        run: python manage.py test
